* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 0.5rem 0;
  top: 0;
  z-index: 2;
}

body {
  font-family: "Noto Serif", serif;
}

section h3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  margin: 10px;
}

.card-img img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  text-align: center;
  font-size: 22px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer button {
  width: 150px;
  background: black;
  color: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 6px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

.card-footer button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.imagenes-iconos-usuario img {
  padding: 1rem;
  margin-top: 1.5rem;
  align-items: center;
}

.nav {
  text-align: center;
}

.footer-sm a {
  color: black;
  padding: 0.05rem;
  background-color: #b4b49a;
}
.footer-sm a i {
  font-size: 1rem;
  padding: 1rem;
}

.row-footer-sm_icons {
  text-align: center;
  padding-top: 2rem;
  margin-left: 1rem;
  font-size: 20px;
}

.F {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}

.catalogo-img img {
  transform: translateY(-3%);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  flex-wrap: wrap;
  margin: 10px;
}
