.footer-sm a {
  color: black;
  padding: 0.05rem;
  background-color: #b4b49a;

  .footer-sm a i {
    font-size: 1rem;
    padding: 1rem;
  }
}

.row-footer-sm_icons {
  text-align: center;
  padding-top: 2rem;
  margin-left: 1rem;
  font-size: 20px;
}

.F {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
}
